<div class="ui compact segment" id= "form-container">
    <h1>Register</h1>
    <div class="ui form">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="field">
                <label>Username:</label>
                <input type="text" formControlName="username" style="width: 200px;">
                <div class= "error-message" *ngIf= "registerForm.get('username').invalid && registerForm.get('username').touched" style="text-align: center">
                    <div class="ui pointing red label">
                        3 or more characters!
                    </div>
                </div>        
            </div>
            <div class="field">
                <label>Email:</label>
                <input type="text" formControlName="email" style="width: 200px;">
                <div class= "error-message" *ngIf= "registerForm.get('email').invalid && registerForm.get('email').touched" style="text-align: center">
                    <div class="ui pointing red label">
                        Wrong email format!
                    </div>
                </div>
            </div>
            <div class="field">
                <label>Password:</label>    
                <input type="password" formControlName="password" style="width: 200px;">
                <div class= "error-message" *ngIf= "registerForm.get('password').invalid && registerForm.get('password').touched" style="text-align: center">
                    <div class="ui pointing red label">
                        7 or more characters!
                    </div>
                </div>
            </div>
            <div class="action-buttons" style="text-align: center">
                <button class="ui blue button" type="submit" [disabled]="!registerForm.valid">Submit</button>
                <button class="ui button" (click)="goBack()">Back</button>
            </div>
        </form>
    </div>
</div>