<h1>Register</h1>
<div class="registerPanel">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div>
            <label>
                Username:
                <input type="text" formControlName="username">
            </label>        
        </div>
        <div>
            <label>
                Email:
                <input type="text" formControlName="email">
            </label>
        </div>
        <div>
            <label>
                Password:
                <input type="password" formControlName="password">
            </label>    
        </div>
        <button type="submit" [disabled]="!registerForm.valid">Submit</button>
        <button (click)="goBack()">Back</button>
    </form>
</div>


<!-- <div *ngIf="users.length">
    <div>
        <ul>
            <li *ngFor="let user of users"> {{user.name}} </li>
        </ul>>
    </div>
</div> -->
