<h1>Register</h1>
<div class="ui form">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="field">
            <label>
                Username:
                <input type="text" formControlName="username">
            </label>        
        </div>
        <div class="field">
            <label>
                Email:
                <input type="text" formControlName="email">
            </label>
        </div>
        <div class="field">
            <label>
                Password:
                <input type="password" formControlName="password">
            </label>    
        </div>
        <div class="ui center aligned basic segment">
            <button class="ui blue button" type="submit" [disabled]="!registerForm.valid">Submit</button>
            <button class="ui button" (click)="goBack()">Back</button>
        </div>
            
    </form>
</div>


<!-- <div *ngIf="users.length">
    <div>
        <ul>
            <li *ngFor="let user of users"> {{user.name}} </li>
        </ul>>
    </div>
</div> -->
