<h1>Team list</h1>
<div class="ui divider"></div>
<div class="table-size-controller" style="text-align: right">
  Table size: 
  <select class="ui dropdown" (change)="setPageSize($event)">
    <option value="4">4</option>
    <option value="6">6</option>
    <option value="8">8</option>
    <option selected="selected">10</option>
  </select>
</div>
<div class="table-content">
  <table class="ui celled table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let team of teams">
        <td style="display: none">{{ team._id }}</td>
        <td>{{ team.name }}</td>
        <td>{{ team.description }}</td>
        <td style="text-align: center"><button class="ui icon button" (click)="openModal({mode: 'deleteTeam', obj: team})">
          <i class="trash icon"></i>
        </button></td>
        <td style="text-align: center"><button class="ui icon button" (click)="openModal({mode: 'editTeam', obj: team})">
          <i class="edit icon"></i>
        </button></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="4">
            <app-dialog></app-dialog>
            <button class="ui labeled icon blue button" (click)= "openModal({mode: 'addTeam', obj: null})">
                <i class="add icon"></i>
                Team
            </button>
          <div class="ui right floated pagination menu">
            <a class="icon item">
              <i class="left chevron icon"></i>
            </a>
            <a class="item" *ngFor="let loop of loopTimes" (click)="getTeamsPara(loop + 1)">{{loop + 1}}</a>
            <a class="icon item">
              <i class="right chevron icon"></i>
            </a>
          </div>
        </th>
      </tr>
    </tfoot>
  </table>

  <div class="ui center aligned basic segment">
    <button class="ui centered aligned button" (click)="goBack()">Back</button>
  </div>

</div>