app-jw-modal {
    /* modals are hidden by default */
    display: none;
}

.content-panel {
    margin-top: 5%;
    text-align: center;
}

.actions {
    margin-top: 5%;
    text-align: center;
}

#form-container {
    margin: auto;
}

.login-page {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 100px;
}