<!-->
    <div class="modal" [ngStyle]="getStyle()">
 -->
 <div class="ui compact segment" id= "form-container">
    <div class="login-page">
        <app-dialog></app-dialog>
        <h1>Login</h1>
        <div class="form" style="width: 210px;">
            <form [formGroup]= "loginForm">
                <div class="field">
                    <label>Email:</label>
                    <div class="ui input">
                        <input type="text" formControlName="email" style="width: 200px;">
                    </div>
                    <div class= "error-message" *ngIf= "loginForm.get('email').invalid && loginForm.get('email').touched" style="text-align: center">
                        <div class="input-err-message" style="text-align: center">
                            <p style="color: red; white-space: nowrap;">Wrong email format!</p>
                        </div>
                    </div>
                </div>            
        
                <div class="field">
                    <label>Password:</label>
                    <div class="ui input">
                        <input type="password" formControlName="password" style="width: 200px;">
                    </div>
                    <div class= "error-message" *ngIf= "loginForm.get('password').invalid && loginForm.get('password').touched" style="text-align: center">
                        <p style="color: red; white-space: nowrap;">7 or more characters!</p>
                    </div>
                </div>
                <div class="login-button" style="margin-top: 20px;">
                    <button class="ui blue button" (click)="login()" [disabled]="!loginForm.valid">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>




