app-jw-modal {
    /* modals are hidden by default */
    display: none;
}

.content-panel {
    margin-top: 5%;
    text-align: center;
}

.actions {
    margin-top: 5%;
    text-align: center;
}

#form-container {
    margin: auto;
}