<h1>Login</h1>
<div class="ui form">
    <form [formGroup]="loginForm">
        <div class="field">
            <label>Email:</label>
            <input type="text" formControlName="email">
        </div>            

        <div class="field">
            <label>Password:</label>
            <input type="password" formControlName="password">
        </div>
        <div class="ui center aligned basic segment">
            <button class="ui blue button" (click)="login()" [disabled]="!loginForm.valid">Login</button>
            <button class="ui button" routerLink="/register">Register</button>
            <button class="ui button" routerLink="/teams">Go Teams page</button>
        </div>
    </form>
   
</div>



