<div class="content-panel">
  <!-->Info dialog Content<-->
  <div class="infoDialog" *ngIf="data.mode === 'infoDialog'" style="text-align: center">
      <div class="content-panel">
          <div class="ui icon header">
            <i class="exclamation icon"></i>
            Error Message:
          </div>
          <div class="content">
            {{ data.obj }}
          </div>
      </div>
  </div>
</div>

<!-->Add & Edit Content<-->
<div *ngIf="data.mode === 'addTeam' || data.mode === 'editTeam' || data.mode === 'addClassification' || data.mode === 'editClassification'
|| data.mode === 'addGame'">
  <div class="ui form">
      <h1 *ngIf="data.mode === 'addTeam'" >Add team:</h1>
      <h1 *ngIf="data.mode === 'addClassification'" >Add Classification:</h1>
      <h1 *ngIf="data.mode === 'addGame'" >Add game:</h1>
      <h1 *ngIf="data.mode === 'editTeam'" >Edit team:</h1>
      <h1 *ngIf="data.mode === 'editClassification'" >Edit classification:</h1>
      <div class="ui divider"></div>
      <form [formGroup]="Form" *ngIf="data.mode === 'addTeam' || data.mode === 'editTeam' || data.mode === 'addClassification'">
        <div class="ui field">
          <label style="text-align: left">
            Name:
            <input type="text" formControlName="name">
          </label>
          <div class= "error-message" *ngIf= "Form.get('name').invalid && Form.get('name').touched" style="text-align: center">
              <div class="input-err-message" style="text-align: center">
                  <p style="color: red; white-space: nowrap;">Must be at least 3 characters!</p>
              </div>
          </div>
        </div>
        <div class="ui field">
          <label style="text-align: left">
            Desciption:
            <input type="text" formControlName="description">
          </label>
          <div class= "error-message" *ngIf= "Form.get('description').invalid && Form.get('description').touched" style="text-align: center">
              <div class="input-err-message" style="text-align: center">
                  <p style="color: red; white-space: nowrap;">Can't be empty!</p>
              </div>
          </div>
        </div>
      </form>

      <form [formGroup]="Form2" *ngIf="data.mode === 'addGame'">
          <div class="ui field">
            <label style="text-align: left">
              Name:
              <input type="text" formControlName="name">
            </label>
            <div class= "error-message" *ngIf= "Form2.get('name').invalid && Form2.get('name').touched" style="text-align: center">
                <div class="input-err-message" style="text-align: center">
                    <p style="color: red; white-space: nowrap;">Must be at least 3 characters!</p>
                </div>
            </div>
          </div>
          <div class="ui field">
            <label style="text-align: left">
              Classification:
              <select class="ui dropdown" formControlName="classification" >
                  <option *ngFor="let classification of classifications" value="{ id: {{ classification._id }}, 
                  name: {{ classification.name }}, description: {{ classification.description }} }">{{ classification.name }}</option>
              </select>
            </label>
          </div>
        </form>
    </div>
</div>

<!-->Delete Content<-->
<div class="deleteTeam" *ngIf="data.mode === 'deleteTeam' || data.mode === 'deleteClassification' || data.mode === 'deleteGame'">
  <div class="content-panel">
      <div class="ui icon header">
        <i class="trash icon"></i>
        <p *ngIf="data.mode === 'deleteTeam'">Are you sure to delete the team?
        <p *ngIf="data.mode === 'deleteClassification'">Are you sure to delete the classification?
        <p *ngIf="data.mode === 'deleteGame'">Are you sure to delete the game?
      </div>
      <div class="content" *ngIf="data.mode === 'deleteTeam'">
        Team name: <p style="font-weight: bold;">{{ teamToDelete.name }}</p>
      </div>
      <div class="content" *ngIf="data.mode === 'deleteClassification'">
        Classification name: <p style="font-weight: bold;">{{ classificationToDelete.name }}</p>
      </div>
      <div class="content" *ngIf="data.mode === 'deleteGame'">
        Game name: <p style="font-weight: bold;">{{ gameToDelete.name }}</p>
      </div>
  </div>
</div>
  

<div class="ui divider"></div>

<!-->Add & Edit Actions<-->
<div class="actions" *ngIf="data.mode === 'addTeam' || data.mode === 'editTeam' || data.mode === 'addClassification' || data.mode === 'editClassification'
 || data.mode === 'addGame'" 
style="text-align: center; padding-top: 10px;">
  <div class="ui green basic ok button" (click)="onSaveClick(data.mode)">
    <i class="add icon"></i>
    Save
  </div>
  <div class="ui red basic cancel button"  (click)="onCancelClick()">
    <i class="remove icon"></i>
    Cancel
  </div>
</div>

<!-->Delete Actions<-->
<div class="actions" *ngIf="data.mode === 'deleteTeam' || data.mode === 'deleteClassification' || data.mode === 'deleteGame'" style="text-align: center; padding-top: 10px;">
  <div class="ui green basic ok button"  (click)="onDeleteClick(data.mode)">
    <i class="checkmark icon"></i>
    Yes
  </div>
  <div class="ui red basic cancel button"  (click)="onCancelClick()">
    <i class="remove icon"></i>
    No
  </div>
</div>

<!-->infoDialog Actions<-->
<div class="actions" *ngIf="data.mode === 'infoDialog'" style="text-align: center; padding-top: 10px;">
    <div class="ui green basic ok button"  (click)="onCancelClick()">
      <i class="checkmark icon"></i>
      OK
    </div>
</div>
