<div class="content-panel">
  <!-->Info dialog Content<-->
  <div class="infoDialog" *ngIf="data.mode === 'infoDialog'" style="text-align: center">
      <div class="content-panel">
          <div class="ui icon header">
            <i class="exclamation icon"></i>
            Error Message:
          </div>
          <div class="content">
            {{ data.obj }}
          </div>
      </div>
  </div>
</div>

<!-->Add & Edit Content<-->
<div *ngIf="data.mode === 'addTeam' || data.mode === 'editTeam' || data.mode === 'addClassification'">
  <div class="ui form">
      <h1 *ngIf="data.mode === 'addTeam'" >Add team:</h1>
      <h1 *ngIf="data.mode === 'addClassification'" >Add Classification:</h1>
      <h1 *ngIf="data.mode === 'editTeam'" >Edit team:</h1>
      <div class="ui divider"></div>
      <form [formGroup]="Form">
        <div class="ui field">
          <label style="text-align: left">
            Name:
            <input type="text" formControlName="name">
          </label>
        </div>
        <div class="ui field">
          <label style="text-align: left">
            Desciption:
            <input type="text" formControlName="description">
          </label>
        </div>
      </form>
    </div>
</div>

<!-->Delete Content<-->
<div class="deleteTeam" *ngIf="data.mode === 'deleteTeam' || data.mode === 'deleteClassification'">
  <div class="content-panel">
      <div class="ui icon header">
        <i class="trash icon"></i>
        <p *ngIf="data.mode === 'deleteTeam'">Are you sure to delete the team?
        <p *ngIf="data.mode === 'deleteClassification'">Are you sure to delete the classification?
      </div>
      <div class="content" *ngIf="data.mode === 'deleteTeam'">
        Team name: <p style="font-weight: bold;">{{ teamToDelete.name }}</p>
      </div>
      <div class="content" *ngIf="data.mode === 'deleteClassification'">
        Classification name: <p style="font-weight: bold;">{{ classificationToDelete.name }}</p>
      </div>
  </div>
</div>
  

<div class="ui divider"></div>

<!-->Add & Edit Actions<-->
<div class="actions" *ngIf="data.mode === 'addTeam' || data.mode === 'editTeam' || data.mode === 'addClassification'" style="text-align: center; padding-top: 10px;">
  <div class="ui green basic ok button" (click)="onSaveClick(data.mode)">
    <i class="add icon"></i>
    Save
  </div>
  <div class="ui red basic cancel button"  (click)="onCancelClick()">
    <i class="remove icon"></i>
    Cancel
  </div>
</div>

<!-->Delete Actions<-->
<div class="actions" *ngIf="data.mode === 'deleteTeam' || data.mode === 'deleteClassification'" style="text-align: center; padding-top: 10px;">
  <div class="ui green basic ok button"  (click)="onDeleteClick(data.mode)">
    <i class="checkmark icon"></i>
    Yes
  </div>
  <div class="ui red basic cancel button"  (click)="onCancelClick()">
    <i class="remove icon"></i>
    No
  </div>
</div>

<!-->infoDialog Actions<-->
<div class="actions" *ngIf="data.mode === 'infoDialog'" style="text-align: center; padding-top: 10px;">
    <div class="ui green basic ok button"  (click)="onCancelClick()">
      <i class="checkmark icon"></i>
      OK
    </div>
</div>
