<div class="content-panel">
  <!-->Info dialog Content<-->
  <div class="infoDialog" *ngIf="data.mode === 'infoDialog'" style="text-align: center">
      <div class="content-panel">
          <div class="ui icon header">
            <i class="exclamation icon"></i>
            Error Message:
          </div>
          <div class="content">
            {{ data.obj }}
          </div>
      </div>
  </div>
</div>

<!-->Add & Edit Content<-->
<div *ngIf="data.mode === 'addTeam' || data.mode === 'editTeam' || data.mode === 'addClassification' || data.mode === 'editClassification'
|| data.mode === 'addGame' || data.mode === 'addIndividual' || data.mode === 'editIndividual' || data.mode === 'deleteIndividual'">
  <div class="ui form">
      <h1 *ngIf="data.mode === 'addTeam'" >Add team:</h1>
      <h1 *ngIf="data.mode === 'addClassification'" >Add Classification:</h1>
      <h1 *ngIf="data.mode === 'addGame'" >Add game:</h1>
      <h1 *ngIf="data.mode === 'editTeam'" >Edit team:</h1>
      <h1 *ngIf="data.mode === 'editClassification'" >Edit classification:</h1>
      <h1 *ngIf="data.mode === 'addIndividual'" >Add individual:</h1>
      <h1 *ngIf="data.mode === 'editIndividual'" >Edit individual:</h1>
      <div class="ui divider"></div>
      
      <form [formGroup]="classificationForm" *ngIf="data.mode === 'addClassification' || data.mode === 'editClassification'">
        <div class="ui field">
          <label style="text-align: left">
            Name:
            <input type="text" formControlName="name">
          </label>
          <div class= "error-message" *ngIf= "classificationForm.get('name').invalid && classificationForm.get('name').touched" style="text-align: center">
              <div class="input-err-message" style="text-align: center">
                  <p style="color: red; white-space: nowrap;">Must be at least 3 characters!</p>
              </div>
          </div>
        </div>
        <div class="ui field">
          <label style="text-align: left">
            Desciption:
            <input type="text" formControlName="description">
          </label>
          <div class= "error-message" *ngIf= "classificationForm.get('description').invalid && classificationForm.get('description').touched" style="text-align: center">
              <div class="input-err-message" style="text-align: center">
                  <p style="color: red; white-space: nowrap;">Can't be empty!</p>
              </div>
          </div>
        </div>
      </form>

      <form [formGroup]="teamForm" *ngIf="data.mode === 'addTeam' || data.mode === 'editTeam' || data.mode === 'addIndividual' || data.mode === 'editIndividual'">
          <div class="ui field">
            <label style="text-align: left">
              Name:
              <input type="text" formControlName="name">
            </label>
            <div class= "error-message" *ngIf= "teamForm.get('name').invalid && teamForm.get('name').touched" style="text-align: center">
                <div class="input-err-message" style="text-align: center">
                    <p style="color: red; white-space: nowrap;">Must be at least 3 characters!</p>
                </div>
            </div>
          </div>
          <div class="ui field">
            <label style="text-align: left">
              Desciption:
              <input type="text" formControlName="description">
            </label>
            <div class= "error-message" *ngIf= "teamForm.get('description').invalid && teamForm.get('description').touched" style="text-align: center">
                <div class="input-err-message" style="text-align: center">
                    <p style="color: red; white-space: nowrap;">Can't be empty!</p>
                </div>
            </div>
            <label style="text-align: left">
                Country:
                <select class="ui dropdown" formControlName="country" >
                    <option *ngFor="let country of countries" value="{{country.iso3}}">{{ country.name }}</option>
                </select>
              </label>
              <div class= "error-message" *ngIf= "teamForm.get('country').invalid && teamForm.get('country').touched" style="text-align: center">
                  <div class="input-err-message" style="text-align: center">
                      <p style="color: red; white-space: nowrap;">Can't be empty!</p>
                  </div>
              </div>
          </div>
        </form>

      <form [formGroup]="gameForm" *ngIf="data.mode === 'addGame' || data.mode === 'editGame'">
          <div class="ui field">
            <label style="text-align: left">
              Name:
              <input type="text" formControlName="name">
            </label>
            <div class= "error-message" *ngIf= "gameForm.get('name').invalid && gameForm.get('name').touched" style="text-align: center">
                <div class="input-err-message" style="text-align: center">
                    <p style="color: red; white-space: nowrap;">Must be at least 3 characters!</p>
                </div>
            </div>
          </div>
          <div class="ui field">
            <label style="text-align: left">
              Classification:
              <select class="ui dropdown" formControlName="classification" >
                  <option *ngFor="let classification of classifications" value="{{classification._id}}">{{ classification.name }}</option>
              </select>
            </label>
            <div class= "error-message" *ngIf= "gameForm.get('classification').invalid && gameForm.get('classification').touched" style="text-align: center">
                <div class="input-err-message" style="text-align: center">
                    <p style="color: red; white-space: nowrap;">Must be selected!</p>
                </div>
            </div>
          </div>
          <div class="ui field">
              <label style="text-align: left">
                Start date:
                <mat-form-field style="width: 252px;">
                    <input matInput [matDatepicker]="picker" (dateInput)="addDate('start', $event)" formControlName="date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
              </label>
              <div class= "error-message" *ngIf= "gameForm.get('date').invalid && gameForm.get('date').touched" style="text-align: center">
                  <div class="input-err-message" style="text-align: center">
                      <p style="color: red; white-space: nowrap;">Can't be empty!</p>
                  </div>
              </div>
          </div>
          <div class="ui field">
              <label style="text-align: left">
                End date:
                <mat-form-field style="width: 252px;">
                    <input matInput [matDatepicker]="picker2" (dateInput)="addDate('end', $event)" formControlName="date">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
              </label>
              <div class= "error-message" *ngIf= "gameForm.get('date').invalid && gameForm.get('date').touched" style="text-align: center">
                  <div class="input-err-message" style="text-align: center">
                      <p style="color: red; white-space: nowrap;">Can't be empty!</p>
                  </div>
              </div>
          </div>
          <div class="ui field">
              <label style="text-align: left"> Type of game: </label>
              <input type="radio" name="1" value="individual" (change)="setType('individual')"> Individual
              <input type="radio" name="1" value="team" (change)="setType('team')"> Team
          </div>
          <div class="ui field">
            <label style="text-align: left">
              Contestants:
              <mat-form-field *ngIf="contestantType === 'team'">
                <mat-select [formControl]="gameForm.get('typeOfGame')" multiple>
                  <mat-option *ngFor="let team of teams" [value]="{'kind': 'Team', 'contestant': team._id}">{{team.name}}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field *ngIf="contestantType === 'individual'">
                <mat-select [formControl]="gameForm.get('typeOfGame')" multiple>
                  <mat-option *ngFor="let individual of individuals" [value]="{'kind': 'Individual', 'contestant': individual._id}">{{individual.name}}</mat-option>
                </mat-select>
              </mat-form-field>

            </label>
            <div class= "error-message" *ngIf= "gameForm.get('classification').invalid && gameForm.get('classification').touched" style="text-align: center">
                <div class="input-err-message" style="text-align: center">
                    <p style="color: red; white-space: nowrap;">Must be selected!</p>
                </div>
            </div>
          </div>
        </form>
    </div>
</div>

<!-->Delete Content<-->
<div class="deleteTeam" *ngIf="data.mode === 'deleteTeam' || data.mode === 'deleteClassification' || data.mode === 'deleteGame' || data.mode === 'deleteIndividual'">
  <div class="content-panel">
      <div class="ui icon header">
        <i class="trash icon"></i>
        <p *ngIf="data.mode === 'deleteTeam'">Are you sure to delete the team?
        <p *ngIf="data.mode === 'deleteClassification'">Are you sure to delete the classification?
        <p *ngIf="data.mode === 'deleteGame'">Are you sure to delete the game?
        <p *ngIf="data.mode === 'deleteIndividual'">Are you sure to delete the individual?
      </div>
      <div class="content" *ngIf="data.mode === 'deleteTeam'">
        Team name: <p style="font-weight: bold;">{{ teamToDelete.name }}</p>
      </div>
      <div class="content" *ngIf="data.mode === 'deleteClassification'">
        Classification name: <p style="font-weight: bold;">{{ classificationToDelete.name }}</p>
      </div>
      <div class="content" *ngIf="data.mode === 'deleteGame'">
        Game name: <p style="font-weight: bold;">{{ gameToDelete.name }}</p>
      </div>
      <div class="content" *ngIf="data.mode === 'deleteIndividual'">
        Individual name: <p style="font-weight: bold;">{{ individualToDelete.name }}</p>
      </div>
  </div>
</div>
  

<div class="ui divider"></div>

<!-->Add & Edit Actions<-->
<div class="actions" *ngIf="data.mode === 'addTeam' || data.mode === 'editTeam' || data.mode === 'addClassification' || data.mode === 'editClassification '
 || data.mode === 'addGame' || data.mode === 'addIndividual' || data.mode === 'editIndividual'"
style="text-align: center; padding-top: 10px;">
  <div class="ui green basic ok button" (click)="onSaveClick(data.mode)">
    <i class="add icon"></i>
    Save
  </div>
  <div class="ui red basic cancel button"  (click)="onCancelClick()">
    <i class="remove icon"></i>
    Cancel
  </div>
</div>

<!-->Delete Actions<-->
<div class="actions" *ngIf="data.mode === 'deleteTeam' || data.mode === 'deleteClassification' || data.mode === 'deleteGame' || data.mode === 'deleteIndividual'" 
  style="text-align: center; padding-top: 10px;">
  <div class="ui green basic ok button"  (click)="onDeleteClick(data.mode)">
    <i class="checkmark icon"></i>
    Yes
  </div>
  <div class="ui red basic cancel button"  (click)="onCancelClick()">
    <i class="remove icon"></i>
    No
  </div>
</div>

<!-->infoDialog Actions<-->
<div class="actions" *ngIf="data.mode === 'infoDialog'" style="text-align: center; padding-top: 10px;">
    <div class="ui green basic ok button"  (click)="onCancelClick()">
      <i class="checkmark icon"></i>
      OK
    </div>
</div>
