<div class="navigation">
  <div class="top-bar">
      <div class="ui menu">
          <div class="right menu" *ngIf="!logged">
              <button class= "ui button" routerLink="/register">Sign Up</button>
          </div>
          <div class="right menu" *ngIf="logged">

              <a class="ui label">
                  <img class="ui right spaced avatar image" src="/src/assets/image/boy.jpg">
                  {{ email }}
                </a>
              <button class= "ui red button" style="height: 39.5px; background-color: red" (click)="logout()">
                  <i class= "sign-out icon"></i>
                  Log out
              </button>
          </div>
      </div>
  </div>
</div>